<div ng-app="workshopIS" ng-controller="PartnersController" ng-init="onInit()">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Partners</h1>
            </div>
            <!-- Parters list -->
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4" style="max-height: 75vh; overflow-y: scroll">
                <div ng-repeat="partner in models.partners track by $index" class="list-group-item clearfix" ng-click="onPartnerSelected($index)">
                    <div class="pull-left">
                        <h3 class="list-group-item-heading">{{ partner.name }}</h3>
                        <p class="list-group-item-text">ICO: {{partner.ico}}</p>
                        <p class="list-group-item-text">Valid From: {{partner.validFrom | date:'mediumDate'}}</p>
                        <p class="list-group-item-text">Valid To: {{partner.validTo || '∞' | date:'mediumDate'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8" style="max-height: 75vh; overflow-y: scroll">
                <div ng-if="!inEditMode">
                    <button type="button" class="btn btn-primary" ng-click="newPartner()">Add new partner</button>
                </div>
                <div ng-if="inEditMode">
                    <form ng-submit="onEditConfirmed()">
                        <div class="form-group">
                            <label for="nameInput">Name: </label>
                            <input type="text" class="form-control" id="nameInput" ng-model="editedPartner.name" />
                        </div>
                        <div class="form-group">
                            <label for="icoInput">ICO: </label>
                            <input type="text" class="form-control" id="icoInput" ng-model="editedPartner.ico" />
                        </div>
                        <div class="form-group">
                            <label for="validFInput">Valid from: </label>
                            <input type="text" class="form-control" id="validFInput" ng-model="editedPartner.validFrom" />
                        </div>
                        <div class="form-group">
                            <label for="validTInput">Valid to: </label>
                            <input type="text" class="form-control" id="validTInput" ng-model="editedPartner.validTo" />
                        </div>
                        <div class="form-group">
                            <button id="customersInput">Edit customers</button>
                        </div>
                        <button type="submit" class="btn btn-success" style="width: calc(50% - 2px);">Confirm</button>
                        <button type="button" class="btn btn-primary" ng-click="onEditCanceled()" style="width: calc(50% - 2px);">Cancel</button>
                        <hr/>
                        <button type="button" class="btn btn-danger" ng-click="onDeletePartner()" style="width: 100%;">Delete Partner</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
