<div ng-app="workshopIS" ng-controller="PartnersController" ng-init="onInit()">
    <div class="container my-container">
        <div class="row my-row ">
            <div class="col-xs-12">
                <h1>Partners</h1>
            </div>
            <!-- Parters list -->
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4" style="max-height: 75vh; overflow-y: scroll">
                <div ng-repeat="partner in models.partners" class="list-group-item clearfix" ng-click="onPartnerSelected($index)">
                    <div class="pull-left">
                        <h3 class="list-group-item-heading" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 250px;">{{ partner.name }}</h3>
                        <p class="list-group-item-text">ICO: {{partner.ico}}</p>
                        <p class="list-group-item-text">Valid From: {{partner.validFrom | date:'mediumDate'}}</p>
                        <p class="list-group-item-text">Valid To: {{partner.validTo || '∞' | date:'mediumDate'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8" style="max-height: 75vh; overflow-y: scroll">
                <div ng-if="!inEditMode">
                    <button type="button" class="btn btn-primary" ng-click="newPartner()">Add new partner</button>
                </div>
                <div ng-if="inEditMode">
                    <form ng-submit="onEditConfirmed()">
                        <div class="form-group">
                            <label for="nameInput">Name:</label>
                            <input type="text" class="form-control" id="nameInput" ng-model="editedPartner.name" minlength="1" maxlength="20" requierd/>
                        </div>
                        <div class="form-group">
                            <label for="icoInput">ICO: </label>
                            <input type="text" class="form-control" id="icoInput" ng-model="editedPartner.ico" maxlength="8" minlength="8" requierd/>
                        </div>
                        <div class="form-group">
                            <label for="validFInput">Valid from: </label>
                            <input type="date" class="form-control" id="validFInput" name="input" ng-model="editedPartner.validFrom" ng-change="editedPartner.validFrom=editedPartner.validFrom.toISOString()"
                                   placeholder="yyyy-MM-dd" required />
                        </div>
                        <div class="form-group">
                            <label for="validTInput">Valid to: </label>
                            <input type="date" class="form-control" id="validTInput" name="input" ng-model="editedPartner.validTo"
                                   placeholder="yyyy-MM-dd" required />
                        </div>
                        <div class="form-group">
                            <input type="file" name="file" multiple onchange="angular.element(this).scope().appendFile(this.files)" />
                            @*<input ng-if="selectedPartnerId == null || selectedPartnerId == undefined" type="file" name="file" onchange="angular.element(this).scope().appendFile(this.files)" />*@
                        </div>
                        <div class="form-group">
                            <label ng-if="editedPartner.customers.length > 0">Customers: </label>
                            <div ng-repeat="customer in editedPartner.customers" class="list-group-item clearfix">
                                <div class="pull-left">
                                    <h3 class="list-group-item-heading">{{ customer.firstName }} {{ customer.surname }}</h3>
                                    <p class="list-group-item-text">Phone: {{customer.phone}}</p>
                                    <p class="list-group-item-text">
                                        Loans:
                                        <div class="form-group" ng-repeat="loan in customer.loans">
                                    <p class="pull-left list-group-item-text">Amount: {{loan.amount}}. Duration: {{loan.duration}}</p>
                                    <div class="pull-right" style="color: crimson; cursor: pointer" ng-click="onDeleteLoan($parent.$index, $index)"> Delete</div>
                                </div>
                                </p>
                            </div>
                            <div class="pull-right" style="color: crimson; cursor: pointer" ng-click="onDeleteCustomer($index)">Delete</div>
                        </div>
                </div>
                <button type="submit" class="btn btn-success" style="width: calc(50% - 2px);">Confirm</button>
                <button type="button" class="btn btn-primary" ng-click="onEditCanceled()" style="width: calc(50% - 2px);">Cancel</button>
                <hr />
                <button type="button" class="btn btn-danger" ng-click="onDeletePartner()" style="width: 100%;">Delete Partner</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
