<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>404 Page Not Found</h1>
            <hr/>
            <h3><a href="#">Return to main page</a></h3>
        </div>
    </div>
</div>