body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.leftscrollbar {
    overflow: auto;
    transform: scaleX(-1);
}

    .leftscrollbar > div {
        transform: scaleX(-1);
    }

.inp-msg-err {
    color: #ca0000;
}

.inp-msg-warn {
    color: #f4a460;
}


input {
    width: 100%;
}

.partners {
    margin-top: 30px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #483d8b;
}

@media screen and (max-width: 768px) {
    .selector {
        margin-top: 20px
    }
}

@media screen and (min-width: 768px) {

    .loan-data {
        max-height: 75vh;
        overflow-y: scroll;
    }
}
