html {
    min-height: 100%;
}

.my-contact-state {
    padding: 5px;
    border-radius: 2px;
    text-align: center;
}

.my-contact-state-could-not {
    background-color: #dbb9af;
}

.my-contact-state-rejected {
    background-color: #a4a8ad;
}

.my-contact-state-accepted {
    background-color: #aed3a3;
}
.my-contact-state-not-yet {
    background-color: #f4e7c5;
}

body {
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
     /*background: linear-gradient(121deg, rgba(105,250,255,1) 0%, rgba(36,29,128,1) 100%);*/
    background: #23A6D5;
    background: linear-gradient(-45deg, #ef9377, #d19acf, #23A6D5, #23D5AB);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-position: 52% 52%;
    /*animation: Gradient 15s ease-in-out infinite;*/
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.leftscrollbar {
    overflow: auto;
    transform: scaleX(-1);
}

    .leftscrollbar > div {
        transform: scaleX(-1);
    }

.inp-msg-err {
    color: #ca0000;
}

.inp-msg-warn {
    color: #f4a460;
}

.my-row {
    padding: 0 25px;
}

.my-navbar {
    box-shadow: 0px 0px 20px 0px;
    color: rgb(255, 255, 255);
    background: #4e4e4e;
    font: arial, sans-serif;
    font-kerning: sans-serif;
    border: none;
    box-shadow: 0px -7px 12px 8px rgba(0, 0, 0, 0.65);
}

.my-container {
    box-shadow: 0px 0px 10px;
    background-color: #efefef;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}

.my-big-header {
    margin: 0;
    color: #efefef !important;
    font: italic 600 small-caps normal 1.2em Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 10px #5a5a5a;
    cursor: default;
}

.fixed-col {
    overflow-y: scroll;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    padding: 50px 30px 10px;
    margin-top: -20px;
    margin-left: -25px;
    margin-bottom: -20px;
}

.my-valid {
    color: rgb(53, 162, 128);
}

.my-invalid {
    color: rgb(207, 60, 60);
}
.partners {
    margin-top: 30px;
}

.my-full-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(6, 6, 6, 0.42);
}

.my-4th-section {
    background-color: transparent;
    width: 50%;
    height: 50%;
    border: 1px solid rgba(0,0,0,.09);
    float: left;
    transition: background-color .3s ease-in;
}

.my-vcenter-inner {
    text-align: center;
    color: #3f405c;
    width: 400px;
    line-height: 50px;
    display: table-cell; 
    vertical-align: middle;
}

.my-vcenter-outer {
    display: table;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0
} 


.my-section-link {
    line-height: 10rem;
    font-size: 10rem;
    text-decoration: none;
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.39);
    text-decoration: none;
    transition: color .3s ease-in, text-shadow .5s ease-in;
    padding: 15px;
}

.my-section-link:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.62);
    text-shadow: 0 0 70px rgba(179, 179, 179, 0.38);
}

.my-4th-section:hover {
    background-color: rgba(107, 36, 88, 0.32);

}


*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, 0.68);
}

@media screen and (max-width: 768px) {
    .selector {
        margin-top: 20px
    }
}

@media screen and (min-width: 768px) {
    .fixed-col {
        max-height: 83vh;
    }

    .loan-data {
        max-height: 75vh;
        overflow-y: scroll;
    }
}
